<!doctype html>  
<meta charset="utf-8">
<head>
   <title>IdeaStackr Card Creator</title>
   
   <style>
    
      input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
   </style>
</head>
<body>
    <h1>Ideastackr Card Creator</h1>
    <ul>
        <li>For index cards, print two-to-a-page.</li>
    </ul>
    <form action="\tables" method="POST">
        <label for="csv_text"><b>Paste CSV:</b></label><br>
        <textarea id="csv_text" name="csv_text" rows="22" cols="80"></textarea>
        <br/>
        <input type="submit"  value="Generate Cards">

    </form>
    <br/>
    <p>See Github for <a href="https://github.com/BrianInGermany/ideastackr_app">code</a>.</p>

</body>

